@use '@/sass/variables' as v;

.hero {
    min-height: calc(80vh - 56px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    .text-content {
        z-index: 2;
        text-align: center;
        max-width: 790px;
        p {
            color: v.$title-2-dark;
        }
    }
}