@use '@/sass/variables' as v;
@use '@/sass/mixins' as m;

.images-slider {
  z-index: 0;
  height: 75dvh;
  user-select: none;
  @include m.respond-to('mobile') {
    height: 500px;
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 0.4s;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s;
}